<DOCTYPE html>
<html>

  <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41793274 = new Ya.Metrika({ id:41793274, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/41793274" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <head lang="en">
        <meta charset="UTF-8">
        <title>RoboAtari</title>
        <script src="../static/js/javatari.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"></style>
    </head>

    <body class="about">
      <div class='main-block'>
        <h1>
          Hi! Thanks for participating in our study!
        </h1>  
        <p>
          We need your help to teach an Atari agent how to maximize its score during the MSPACMAN game. 
          <p>Each time you turn on MSPACMAN, your objective will be to collect all of the food before the ghosts attack you.
            Occasionally, cherries, strawberries, and other fruit will appear for bonus points.
            Remember that collecting bigger food will temporarily allow you to eat the ghosts! You will be teaching the Atari agent both via your keyboard and using your voice.
            Please use the Google Chrome web browser to perform the task. If you do not have access to a microphone or the Google Chrome web browser, we request that you do not participate in the study.
          </p>
          <p>Use <b>arrow keys</b> to move Ms. Pac-Man. More details in the <a href='https://atariage.com/manual_html_page.php?SoftwareLabelID=320' target="_blank">original manual</a>. 
            Please only use the words YES or NO while showing the agent how to play the game. You can enunciate with your voice by changing your pitch and volume 
            such that you can best communicate your intent during the demonstration to the robot-taxi as it performs the task.
            However please do not use any other words except YES and NO.</p>
        </p>

        <p>
          First we ask you to play one practice game by clicking the "Start Trial" button below.
          <b>The game will not begin until you have clicked "Start New Game"</b> located at the bottom left of the screen.
          Additionally, please ensure that you are <b>using headphones</b> and that <b>your sound is on</b>.
          This trial period will take 1 minute to complete. If you play the game for 1 minute or more,
          the game will automatically end.
          Even though microphone access will be asked for, <b>your data will not be recorded for this round.</b>
        </p>


				<p><b>Disclaimer:</b> Java, Atari and Video Computer System are trademarks of their respective owners. 
					This project is completely non-commercial and created only for the benefit of the research community.
				</p>

				<p style="font-size:72" id="go"><a href=/trial>Start Trial</a>!</p>


</html>
