<DOCTYPE html>
<html>

  <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41793274 = new Ya.Metrika({ id:41793274, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/41793274" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    <head lang="en">
        <meta charset="UTF-8">
        <title>RoboAtari</title>
        <script src="../static/js/javatari.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}"></style>
    </head>

    <body class="about">
      <div class='main-block'>
        <h1>
           Thanks for completing the practice round!
        </h1>  

        <p>
            Hope that gave you a sense for how the game works.
            Now, we will record your data going forward. 
        </p>
        <p>
          Next, we ask you to demonstrate examples of how to play this game to the best of your ability by using your keyboard
          as well as by using your mic.
          The Atari agent will learn how to play the game by observing both your keyboard strokes as well as your voice.
          The character will move and be controlled by your keystrokes only, but <b>the agent only understands the words yes or no and can identify the intensity/pitch with which you say these words.</b>
        </p>
        <p>
          Before you begin, please check that you have a head set/mic turned on to record audio and we request that you find a
          quiet environment where there is no other background noise.
          This section will take 10 minutes to complete. If you play the game for a total of 10 minute or more,
          the game will automatically end.
          For example, if you played for 3 minutes on your first time, you will need to play the remaining 7 minutes.
          <b>If you lose your all your lives, hit the "Start new game" button to continue.</b>
          Additionally, please ensure that you are <b>using headphones</b> and that <b>your sound is on</b>.
        </p>

				<p><b>Disclaimer:</b> Java, Atari and Video Computer System are trademarks of their respective owners. 
					This project is completely non-commercial and created only for the benefit of the research community.
				</p>

				<p style="font-size:72" id="go"><a href=/game>Start Game</a>!</p>


</html>
